html, body, main {
   height: 100%;
   width: 100%;
   }

#time {
      margin-bottom: 5%;
      padding-top: 10%;
}

#scoreCard:hover{
      animation-name: shake;
      animation-duration: 1s;
      animation-iteration-count: infinite;
}
#points {
      padding-top: 10%;
      
}
.margin-top {
      margin-top: 50px;
}

.container {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

.card {
   z-index: 3;
   position: absolute;
   width: 50%;
   margin-top: 425px;
   margin-left: 25%;
   margin-right: 25%;
   display: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border: 1px solid #4195fc
   }

.combo {
      background-color: greenyellow;
      animation-name: glowing;
      animation-duration: .5s;
      animation-iteration-count: 1;
}
/* DEFAULT CARD STYLES */
.col {
   cursor: pointer;
   max-width:150px;
   height: 200px;
   margin: 15px;
   border-radius: 2.5%;
   border: black;
   border-style: solid;
   border-width: 2px;
   background-image: 
   linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
   }

.col2 {
      text-align: center;   
}
.col2:hover {
      animation-name: lightGlowing;
      animation-duration: 3s;
      animation-iteration-count: infinite;
}

.stats {
      border: 1px;
      background: #cdced3;
      margin: 0%;   
      border-radius: 5%, 5%, 0, 0;
      height: 50px;
}

.like {
      z-index: 4;
      position: relative;
      background-image: url("img/thumbsup.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px 30px;
      width: 30px;
      height: 30px;
      animation-name: shake;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      left: 220px;
      top: 220px;
      }

.gear {
      display: none;
      z-index: 4;
      position: relative;
      background-image: url("img/gear.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px 50px;
      width: 45px;
      height: 45px;
      animation-name: rotate;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      bottom: 220px;
}

.gear:hover {
      animation-direction: reverse;
}

.statusBox1 {
      z-index: -1;
      height: 75px;
      border-radius: 0, 0, 2.5%, 2.5%;
      position: relative;
      animation-name: dropDown;
      animation-duration: 5s;
      animation-iteration-count: 1;
}

.dropdown {
      width: 100%;
}

/* Pair 1 - HEARTS */
.pairA {
   background-color: pink;
   background-image: url("img/heart.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
   }


/* Pair 2 - FLAME */
.pairB {
   background-color: red;
   background-image: url("img/flame.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
   }


/* Pair 3 - SMILEY */
.pairC {
   background-color: rgb(0, 255, 106);
   background-image: url("img/smiley.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px;
   }


/* Pair 4 - HOME */
.pairD {
   background-color: rgb(219, 219, 219);
   background-image: url("img/home.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
   }


/* Pair 5 - HUBOT */
.pairE {
   background-color: rgb(255, 94, 0);
   background-image: url("img/hubot.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
   }


/* Pair 6 - OCTOFACE */
.pairF {
      background-color: rgb(0, 255, 200);
      background-image: url("img/octoface.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px; 
   }


/* Pair 7 - GLOBE */   
.pairG {
   background-color: rgb(212, 0, 255);
   background-image: url("img/globe.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
   }


/* Pair 8 - LIGHTBULB */
.pairH {
   background-color: rgb(238, 255, 0);
   background-image: url("img/light-bulb.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
   }

/* Checker */
.inUse {
   display: block;
   }

.topTrans {
   z-index: 1;
   width: 100%;
   height: 700px;
   border-radius: 2.5%;
   background-image: linear-gradient(to bottom, #424f60, #707685, #9ea1ab, #cdced3, #fdfdfd);
   position: absolute;
   animation-name: moveUp;
   animation-duration: 8s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   }

.botTrans {
   z-index: 2;
   width: 100%;
   height: 500px;
   border-radius: 2.5%;
   background-image: linear-gradient(to top, #d8103b, #db3551, #dc4d65, #db6179, #d8748a);
   position: absolute;
   animation-name: moveDown;
   animation-duration: 8s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   }

.colShake {
   background-color: red;
   animation-name: shake;
   animation-duration: 2s;
   animation-iteration-count: 2;
   }
 
 .glow {
   z-index: 3;
   border: 5px;
   animation-name: glowing;
   animation-duration: 5s;
   animation-iteration-count: infinite;
   }

.hidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 2s, opacity 2s linear;
    }
.block {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s 2s, opacity 2s linear;
}

.timeKeeper {
      width: 200px;
      height: 350px;
      z-index: 3;
      position: absolute;
      margin-left: 82%;
      margin-top: 7%;
      border-radius: 50px 50px 5px 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
}

.fadein {
      animation-name: fadeIn;
      animation-duration: 5s;
      animation-iteration-count: 1;
}
@keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
   }



@keyframes dropDown {
      0% {transform: translate(0,-40px);}
      100% {transform:translate(0, 0px);}
}
@keyframes rotate {
      0% {transform: translate(1px, 1px) rotate(45deg); }
      50% {transform: translate(1px, 1px) rotate(90deg); }
      75% {transform: translate(1px, 1px) rotate(135deg); }
      100% {transform: translate(1px, 1px) rotate(180deg);}
}
@keyframes lightGlowing {
      50% {   
            -ms-transform: scale(1.01, 1.01); /* IE 9 */
            -webkit-transform: scale(1.01, 1.01); /* Safari */
            transform: scale(1.01, 1.01);
            box-shadow: 1px 1px 1px black; 
         }
      100% {   
            -ms-transform: scale(1.02, 1.02); /* IE 9 */
            -webkit-transform: scale(1.02, 1.02); /* Safari */
            transform: scale(1.02, 1.02);
            box-shadow: 2px 2px 2px black; 
      }
}
@keyframes glowing {
      20% {   
            -ms-transform: scale(1.05, 1.05); /* IE 9 */
            -webkit-transform: scale(1.05, 1.05); /* Safari */
            transform: scale(1.05, 1.05);
            box-shadow: 2px 5px 5px black; 
         }
      40% {
         -ms-transform: scale(1.07, 1.07); /* IE 9 */
         -webkit-transform: scale(1.07, 1.07); /* Safari */
         transform: scale(1.07, 1.07); 
         box-shadow: 2px 5px 5px black; 
         }
      60% {   
            -ms-transform: scale(1.11, 1.11); /* IE 9 */
            -webkit-transform: scale(1.11, 1.11); /* Safari */
            transform: scale(1.11, 1.11);
            box-shadow: 2px 5px 5px black;
         }
      80% {
            -ms-transform: scale(1.07, 1.07); /* IE 9 */
            -webkit-transform: scale(1.07, 1.07); /* Safari */
            transform: scale(1.07, 1.07);
            box-shadow: 6px 5px 5px black;
      }
      100% {
         -ms-transform: scale(1.06, 1.06); /* IE 9 */
         -webkit-transform: scale(1.06, 1.06); /* Safari */
         transform: scale(1.06, 1.06);
         box-shadow: 2px 5px 5px black; 
      }
}

@keyframes moveUp {
   0% {transform: translate(0,-200px);
      -ms-transform: translate(0px, -200px); /* IE 9 */
      -webkit-transform: translate(0px, -200px); /* Safari */;}
   100% {transform: translate(0,-600px);
      -ms-transform: translate(0px, -600px); /* IE 9 */
      -webkit-transform: translate(0px, -600px);} /* Safari */
}

@keyframes moveDown {
   0% { transform: translate(0, 450px);
      -ms-transform: translate(0, 450px);
      -webkit-transform: translate(0px, 450px);   
   }
   100% { transform: translate(0, 550px);
      -ms-transform: translate(0, 550px);
      -webkit-transform: translate(0, 550px);      
   }
}

@keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
}


 