/* DEFAULT CARD STYLES */
.col {
   max-width:150px;
   height: 200px;
   margin: 15px;
   border-radius: 2.5%;
   border: black;
   border-style: solid;
   border-width: 2px;
   background-image: 
   linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}


/* Pair 1 - HEARTS */
.pairA {
   background-color: pink;
   background-image: url("img/heart.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
}


/* Pair 2 - FLAME */
.pairB {
   background-color: red;
   background-image: url("img/flame.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
}


/* Pair 3 - SMILEY */
.pairC {
   background-color: rgb(0, 255, 106);
   background-image: url("img/smiley.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px;
}


/* Pair 4 - HOME */
.pairD {
   background-color: rgb(219, 219, 219);
   background-image: url("img/home.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
}


/* Pair 5 - HUBOT */
.pairE {
   background-color: rgb(255, 94, 0);
   background-image: url("img/hubot.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
}


/* Pair 6 - OCTOFACE */
.pairF {
      background-color: rgb(0, 255, 200);
      background-image: url("img/octoface.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px; 
   }


/* Pair 7 - GLOBE */   
.pairG {
   background-color: rgb(212, 0, 255);
   background-image: url("img/globe.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
}


/* Pair 8 - LIGHTBULB */
.pairH {
   background-color: rgb(238, 255, 0);
   background-image: url("img/light-bulb.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100px; 
}